.gallery-title{
  font-size: 36px;
  color: #3F6184;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
  margin-top: 70px;
}
.search-box{
  padding: 20px 300px 30px;
  text-align: center;
}
.search-box input,
.search-box button{
  font-size: 18px;
  border: 2px solid #3F6184;
  padding:5px 10px;
  border-radius: 10px;
}
.search-box input{
  color: #000000;
  margin: 0 15px 15px 0;
  background:transparent;
  width: 50%;
}
.search-button{
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  background:#3F6184;;
}
.search-button:hover,
.search-button:focus,
.search-button.active{
  color: #000000;
  background:#E2EAF3;
  outline:none;
}
.scrolling-container{
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 2%;
}
.thumb{
  margin-bottom: 30px;
}
img.zoom {
  width: 100%;
  height: 200px;
  border-radius:5px;
  object-fit:cover;
}
img.zoom:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  color:#000;
}
.modal-footer{
  display:none;
}
