<section id="search-section">
    <div class="mt-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form class="search-form" #searchForm='ngForm' (ngSubmit)='searchPhotos(searchForm)'>
        <mat-form-field class="search" color="primary">
          <input matInput placeholder="Search..." name='searchTxt' type="search" [(ngModel)]="query">
          <button matSuffix mat-button type="submit">
            <mat-icon matSuffix color="primary">search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
</section>

<section id="gallery">
  <div class="scrolling-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
       (scrolled)="onScroll()">
    <p class="message">No images found...</p>
    <div class="container img-all-container">
      <div class="row img-row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor='let image of data'>
          <div class="img-single-container">
            <a href="#target-{{image.id}}" class="fancybox lightbox" rel="ligthbox">
              <img [src]="image.link" class="zoom rounded img-fluid tile-image" (mouseenter)="onMouseOver(image.id)"
                   (mouseleave)="onMouseLeave(image.id)" alt="">
              <span class="img-info" [id]="image.id">
                <p class="img-title">{{image.title}}</p>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor='let image of data'>
    <div class="lightbox-target" id="target-{{image.id}}">
      <img [src]="image.link" class="img-fluid" alt=""/>
      <a class="lightbox-close" href="#"></a>
    </div>
  </div>
</section>
