<form #searchForm='ngForm' (ngSubmit)='searchPhotos(searchForm)'>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Search..." required #search='ngModel' name='search' [(ngModel)]='query'/>
    <mat-error *ngIf="search.invalid && (search.dirty || search.touched)">
      <div *ngIf="search.errors.required">
        Search query is required.
      </div>
    </mat-error>
  </mat-form-field>
  <button mat-flat-button type='submit' color="primary">Search</button>
</form>
<br>

<!--gallery photo-->
<section id="gallery-item">
  <div class="container item text-center">
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor='let image of data'>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="item-photo">
              <img [src]="image.link" alt=" "/>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

</section>

