.search-box{
  margin-left: 10%;
}
.search-box input,
.search-box button{
  font-size: 18px;
  border: 2px solid #3F6184;
  padding:5px 10px;
  border-radius: 5px;
}
.search-box input{
  color: #000000;
  margin: 0 15px 15px 0;
  background: #F4F5F6;
  width: 35%;
}
.search-button{
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  background: #3F6184;
  width: 10%;
}
.search-button:hover,
.search-button:focus,
.search-button.active{
  color: #000000;
  background: #BBBCBC;
  border: 2px solid #BBBCBC;
  outline:none;
}
.message{
  color: #667B85;
  display: none;
}
.scrolling-container{
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 2%;
}
.thumb{
  margin-bottom: 30px;
}
img.zoom {
  width: 100%;
  height: 200px;
  border-radius:5px;
  object-fit:cover;
}
img.zoom:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  color:#000;
}
.modal-footer{
  display:none;
}
