#gallery-item .item-photo {
  width: 300px;
  height: 200px;
  margin: 15px;
}

#gallery-item .item-photo img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
}

#gallery-item .item-photo img:hover {
  transform: scale(1.2);
  box-shadow: 0 32px 75px slategrey;
}

#gallery-item .item-btn {
  margin: 10px 5px 5px 5px;
  color: black;
  font-family: 'Rock Salt', cursive;
  background-color: #F9BF3B;
  border-color: #F9BF3B;
  text-transform: uppercase;
  font-weight: 700;
}

#gallery-item .item-btn:hover {
  color: black;
  background-color: #E9AD1F;
  border-color: #E9AD1F;
}

#gallery-item .item-btn:focus {
  color: black;
  background-color: #E9AD1F;
  border-color: #E9AD1F;
  outline: none;
}

#gallery-item .item-btn a {
  text-decoration: none;
  color: black;
}

#gallery-item .item-modal {
  border-radius: 20px 20px 20px 20px;
}

#gallery-item .modal-dialog {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  top: 10%;
}

